{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi <strong> {{ user.email }}! </strong>
    <p>
    {% if user.is_staff %}
    <a href="{% url 'accounts:profile_staff' user.id %}">Profile</a> |
   {% else %}
       <a href="{% url 'accounts:profile_student' user.id %}">Profile</a> |
   {% endif %}
  <a href="{% url 'accounts:logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'accounts:login' %}">login</a> |
  <a href="{% url 'accounts:signup' %}">signup</a>
{% endif %}
{% endblock %}