{% extends 'base.html' %}
{% load crispy_forms_tags %}
{#{% load bootstrap4 %}#}
{% block title %}Sign Up{% endblock %}
{#{% block extrahead %}#}
{#{{ form.media }}#}
{#{% endblock %}#}
{% block content %}
    <h2 class="text-center mb-4">Create Your Account</h2>
    <div class="d-flex justify-content-center align-items-center container">
        <form method="post" class="form-group p-2 border rounded">
          {% csrf_token %}
            {{ form|crispy }}
        {#  {% bootstrap_form form %}#}
          <button type="submit" class="btn btn-primary col-12 mb-2">Sign up</button>
        </form>
    </div>

{% endblock %}